* {
    margin: 0%;
    padding: 0%;
}

/*FUENTES*/
@font-face {
    font-family: "Inter";
    src: url(/fonts/static/Inter_18pt-Medium.ttf);
    font-weight: 500;
    font-style: "normal";
}
@font-face {
    font-family: "Inter";
    src: url(/fonts/static/Inter_18pt-Regular.ttf);
    font-weight: 400;
    font-style: "normal";
}

/*HTML*/
html {
    background-color: lightgrey;
}

/*HEADER*/

/*BODY*/
body #asideYMain {
    text-align: center;
}

#asideYMain aside {
    display: inline-block;

    width: 35%;
}

#asideYMain main {
    display: inline-block;

    padding: 3em;

    background-color: #FFFFFF;
    border-radius: 1.25em;
    box-shadow: 0px 0px 10px 1px;
}

/*MAIN*/

main form {
    width: 13em;
}

main form p {
    text-align: justify;

    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    color: #201E6D;
}

main form #barrasDeTexto {
    width: 100%;
}

main form #barrasDeTexto input {
    padding: 0.5em;
    display: block;
    width: 90%;

    border: #96A6B9 solid 0.5px;
    border-radius: 5px;
}
main form #barrasDeTexto #usuario {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
main form #barrasDeTexto #contraseña {
    margin-top: 0.5em;
}

main form button {
    padding-top: 0.65em;
    padding-bottom: 0.65em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 100%;
    border-radius: 0.25em;

    border: white;
    background-color: #A22CFF;

    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    color:#FFFFFF;
}

main form a {
    display: block;

    font-family: "Inter";
    font-weight: 500;
    font-size: 12px;
}

main nav {
    margin-top: 1.5em;
}

main nav p {
    margin-bottom: 1em;

    text-align: center;

    font-size: 11px;
    color: #96A6B9;
}

main nav a {
    display: inline-block;
    padding: 0.175em;
}

main nav a figure {
    width: 2em;
}

main nav a figure img {
    width: 100%;
    border-radius: 0.25em;
}